
input[type=text], select, textarea {
 width: 50%; 
 padding: 6px;  
 border: 1px solid #ccc; 
 border-radius: 2px; 
 box-sizing: border-box; 
 margin-top: 3px; 
 margin-bottom: 8px; 
 resize: vertical 
}

input[type=submit] {
 display: flex;
 background-color: pink;
 color: purple;
 border: none;
 border-radius: 2px;
 cursor: pointer;
 padding: 15px;
 
}
.h1{
 text-align: center;
 margin: 0;
 
}

input[type=submit]:hover {
 background-color: lightyellow;
}

 .container {
  border-radius: 5px;
  background-color: #9c92c9;
  background: cover;
  padding: 100px;
  
}
